@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@600&display=swap');


.card {

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    transition: .3s;
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(39, 228, 39);
    color: white;
  }
  
  .cardContent {
    text-align: center;
  }
  
  .cardTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .characterImage {
    display: block;
    height: auto;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
.details{
  font-family: 'Ysabeau SC', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  font-size: 48px;
  color: #39CCCC;
  text-shadow: 2px 2px rgb(0, 0, 0);
}