/* .App{
   background-image: url('../img/background.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
} */





/* style={{backgroundImage:`url(${image})`, backgroundRepeat:"no-repeat", backgroundSize:"contain"}} */
